<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city1" placeholder="City 1">
        <input type="text" name="city2" placeholder="City 2">
        <button type="submit">Compare Results</button>
    </form>

    <div class="comparison-container">
        {% if weather_data1 %}
            <h1>City 1</h1>
            <div class="city-container">
                {% include 'weather_app/weather_data.html' with weather_data=weather_data1 daily_forecasts=daily_forecast1 %}
            </div>
        {% endif %}
        
        {% if weather_data2 %}
            <h1>City 2</h1>
            <div class="city-container">
                {% include 'weather_app/weather_data.html' with weather_data=weather_data2 daily_forecasts=daily_forecast2 %}
            </div>
        {% endif %}
    </div>
</body>
</html>
