{% if weather_data %}
    <div class="card mb-4 shadow-sm weather-card">
        <div class="card-body text-center">
            <h2 class="card-title">{{ weather_data.city }}</h2>
            <p class="card-text">Temperature: {{ weather_data.temperature }} °C</p>
            <p class="card-text">Description: {{ weather_data.description }}</p>
            <img src="https://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Weather Icon" class="card-img-bottom mx-auto weather-icon">
        </div>
        <div class="card-footer text-muted text-center">
            <h6>Today</h6>
        </div>
    </div>
{% endif %}

{% if daily_forecasts %}
    <h3 class="mb-4 text-center">5-Day Forecasts</h3>
    <div class="forecast-container d-flex flex-wrap justify-content-center">
        {% for forecast in daily_forecasts %}
            <div class="card mb-3 mx-2 shadow-sm forecast-card">
                <div class="card-body text-center">
                    <h4 class="card-title">{{ forecast.day }}</h4>
                    <p class="card-text">Min Temp: {{ forecast.min_temp }} °C - Max Temp: {{ forecast.max_temp }} °C</p>
                    <p class="card-text">Description: {{ forecast.description }}</p>
                    <img src="https://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="Forecast Icon" class="card-img-bottom mx-auto forecast-icon">
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
