body {
    background-color: #f0f2f5;
    color: #333;
    font-family: 'Arial', sans-serif;
}

form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.form-label {
    font-weight: bold;
    color: #555;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.city-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card img {
    width: 50px;
    height: 50px;
}
