body {
    background-color: #f8f9fa;
}

.weather-card, .forecast-card {
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.weather-icon, .forecast-icon {
    width: 50px;
    height: 50px;
}

h2.card-title, h4.card-title {
    font-size: 1.5rem;
    color: #343a40;
}

p.card-text {
    font-size: 1rem;
    color: #495057;
}


.weather-icon-container {
    width: 60px;
    height: 60px;
}

.weather-icon {
    width: 100%;
    height: 100%;
}

.city-name {
    font-size: 1.8rem;
    color: #343a40;
    margin-bottom: 0.5rem;
}

.temperature, .description {
    font-size: 1.2rem;
    color: #495057;
    margin: 0.5rem 0;
}

.text-muted {
    font-size: 1rem;
    color: #6c757d;
}
